# Compiled Java classes
target/
*.class

# Log files
*.log

# Database Configuration
# application.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
bin/
*.code-workspace

### Maven ###
.mvn/
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

### Operating System ###
Detailed .DS_Store
Thumbs.db

### Frontend###
node_modules/
.eslintcache